$light:#fff;
$dark:#000;


nav {
    position:fixed;
    padding-left: 50px;
    z-index: 99;
    background-color:$light; 
    width: 100%;
    border-bottom: 3px solid;
    a:hover{
        background-color:$dark;
        color:$light;
    }
}

@media (max-width:600px) {
    nav{
        background-color: transparent;
        border-bottom: none;
        padding: 0;

        a:hover{
            background-color:$dark;
            color:$light;
        }
    }

    .navbar-burger{
        background-color:$light;
    }

    .navbar-item, .navbar-link {
        padding: .5rem 1.75rem;
    }
}