

<nav class="navbar">
    <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['home']">Home</a>
    <a class="navbar-item"  routerLinkActive="active-link" [routerLink]="['project']">Proyecto</a>
    <a class="navbar-item"  routerLinkActive="active-link" [routerLink]="['project']">Proceso</a>
    <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['visualization']">Visualizacion</a>    
    <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['visualization']">Resultados</a>    
    <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['visualization']">Contacto</a>    
</nav>

  

  <router-outlet></router-outlet>


<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Likeadas</strong> por <a href="www.gabyzif.com">Gabriela Zifferman </a>
        <a href="http://opensource.org/licenses/mit-license.php">Disclaimer</a>
       
      </p>
    </div>
  </footer>

