
<nav #mobile class="navbar mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" #navBurger  (click)="toggleNavbar()" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu> 
    <div class="navbar-start">

      <a class="navbar-item" fragment="inicio"routerLinkActive="active-link" [routerLink]="['home']">Home</a>
      <a class="navbar-item" fragment="proyecto" routerLinkActive="active-link" [routerLink]="['home']">Proyecto</a>
      <!--<a class="navbar-item"  fragment="proceso" routerLinkActive="active-link" [routerLink]="['home']">Proceso</a>  -->    
      <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['visualization']">Visualizacion</a>
      <a class="navbar-item" routerLinkActive="active-link" [routerLink]="['project']">Resultados</a>
      <a class="navbar-item" fragment="contacto" routerLinkActive="active-link" [routerLink]="['home']">Contacto</a>    

  
    </div>
  </div>

</nav>


<router-outlet></router-outlet>


<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Likeadas</strong> por <a href="www.gabyzif.com">Gabriela Zifferman </a>
        <a href="http://opensource.org/licenses/mit-license.php">Disclaimer</a>
       
      </p>
    </div>
  </footer>

