$light:#ffffff;
$dark:#000;
$medium: #4a4a4a;
$regular_padding: 5%;

img {
    height: 50px;
    width: 50px;
}

.columns{

    h3{
        padding: 2%;
    }

    .column:nth-child(1){
        input{
            width: 15%;
            margin: 3px;
            
        
            &:hover{

                border: 1px solid $dark; 
            }
            img{
                max-width: 100%;
            }
        }
    }
    .column:nth-child(2){
        button{
            //width: 33%;

           background-color: none;
           border: none;
           padding: 2%;

           &:hover{

            border: 1px solid $dark; 


           }
        


            
        }
    
    }

    .column:nth-child(3){
        input{
        margin: 5px;

            &:hover{

                border: 1px solid $dark; 
            }


            
           }


        


            
        }
    
    
}



.selected {
    background: #55287B;
}