
<section class="section has-navbar-fixed-top" id="home">
    <div class="hero-body">
      <div class="container">
          <h1 class="title">Visualización</h1>
          <h2 class="subtitle">Elegí la/s características que queres ver</h2>
          
          
          <div class="columns ">
            <div class="column is-gapless ">
                <h3>Tipo de cuerpo</h3>

                <div class="big-img flexbox">
                    <div class="img">
                        <input type="image" (click)="onClickTipoCuerpo('fit')" [ngClass]="{selected: tipoDeCuerpo.indexOf('fit')!=-1}" src="../../assets/visualization/fit.png">
                        <input type="image" src="../../assets/visualization/muyflaca.png" (click)="onClickTipoCuerpo('muy delgada')" [ngClass]="{selected: tipoDeCuerpo.indexOf('muy delgada')!=-1}">
                        <input type="image" src="../../assets/visualization/flaca.png" (click)="onClickTipoCuerpo('delgada')" [ngClass]="{selected: tipoDeCuerpo.indexOf('delgada')!=-1}">
                    </div><div class="img">

                        <input type="image" src="../../assets/visualization/mediana.png" (click)="onClickTipoCuerpo('mediana')" [ngClass]="{selected: tipoDeCuerpo.indexOf('mediana')!=-1}">
                        <input type="image" src="../../assets/visualization/gorda.png" (click)="onClickTipoCuerpo('gorda')" [ngClass]="{selected: tipoDeCuerpo.indexOf('gorda')!=-1}">
                        <input type="image"  src="../../assets/visualization/curvas.png" (click)="onClickTipoCuerpo('con curvas')" [ngClass]="{selected: tipoDeCuerpo.indexOf('con curvas')!=-1}">
                        <input type="image"  src="../../assets/visualization/curvas.png" (click)="onClickTipoCuerpo('con curvas')" [ngClass]="{selected: tipoDeCuerpo.indexOf('con curvas')!=-1}">

                    </div>
                </div>
              




              

            </div>


            <div class="column">

                <h3>Color de piel</h3>

                

                <button (click)="onClickColorDePiel('blanco')" [ngClass]="{selected: colorDePiel.indexOf('blanco')!=-1}">
                  <svg width="50" height="50">
                    <rect width="50" height="50" style="fill:#FCE4D5;" />
                  </svg></button>
                <button (click)="onClickColorDePiel('cafe claro')" [ngClass]="{selected: colorDePiel.indexOf('cafe claro')!=-1}">
                  <svg width="50" height="50">
                    <rect width="50" height="50" style="fill:#FFBF99;" />
                  </svg></button>
                <button (click)="onClickColorDePiel('cafe medio')" [ngClass]="{selected: colorDePiel.indexOf('cafe medio')!=-1}">
                    <svg width="50" height="50">
                        <rect width="50" height="50" style="fill:#AF8270;" />
                      </svg>
                </button>
                
            </div>

            <div class="column">

                <h3>Características de la piel</h3>
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('lunar')" [ngClass]="{selected: pielV.indexOf('lunar')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('grano')" [ngClass]="{selected: pielV.indexOf('grano')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('ojeras')" [ngClass]="{selected: pielV.indexOf('ojeras')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('rosacea')" [ngClass]="{selected: pielV.indexOf('rosacea')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('mancha solar')" [ngClass]="{selected: pielV.indexOf('mancha solar')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('mancha')" [ngClass]="{selected: pielV.indexOf('mancha')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('pecas')" [ngClass]="{selected: pielV.indexOf('pecas')!=-1}">
                <input type="image" src="../../assets/visualization/skin-ex.png" (click)="onClickPiel('bolsas')" [ngClass]="{selected: pielV.indexOf('bolsas')!=-1}">
                
                
                
            </div>

          </div>
          
          
         
          <img *ngFor="let photo of photos"  src="./assets/img-girls/{{photo.url}}" />
      </div>

     
    </div>
</section>


