


<section id="cuerpo">
    <section class="section">
        <div class="container">
          <div class="sub-section">
              <h1 class="title">Tipo de cuerpo</h1>
              <h2 class="subtitle">
                Las chicas delgadas medianas y con curvas <strong>se muestran más</strong>
              </h2>
            
              <div id="tipo_de_cuerpo" class="chart-half"></div>
             
              <div>
          </div>
          

          </div>
          <div class="sub-section">
              <h2 class="subtitle">La <strong>cara</strong> es la parte del cuerpo que más muestran</h2>

              <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Cara</p>
                      <p class="title">95%</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Piernas</p>
                      <p class="title">36%</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Abdomen</p>
                      <p class="title">27%</p>
                    </div>
                  </div>
                  
                </nav>
          </div>
          <div class="sub-section">
              <h2 class="subtitle">  Las chicas delgadas y con curvas tienden a mostrar más el <strong>abdomen</strong> y las <strong>piernas</strong></h2>
              <div id="cuerpopartes" class="chart-half"></div>
          </div>
          

         

         
            
        </div>
      </section>
</section>

<section id="piel-div">
  <section>

      <div class="container">
        
          <div class="sub-section">
              <h1 class="title">Piel</h1>
              <h2 class="subtitle">
                          Hay una gran tendencia a mostrar la <strong> piel homogénea, blanca y sin capas de maquillaje.</strong>
                        </h2>

                        <div class="columns">
                            <div class="column is-one-third">
                              <h3>Color de piel</h3>
                              <div id="color-piel" class="chart-half"></div>

                            </div>
                            <div class="column">
                                <h3>Piel homogénea</h3>
                                <div id="piel" class="chart-half"></div>
                              </div>

                              <div class="column">
                                  <h3>Maquillaje</h3>
                                  <div id="maquillaje" class="chart-half"></div>
                                </div>
              
                              </div>
                            
                            
                          </div>
        </div>
  </section>
</section>

<section id="pelo-div">
    <section>
  
        <div class="container">
          <div class="sub-section">
            <h1 class="title">Pelo</h1>
            <h2 class="subtitle">
               Hay un gran porcentaje de chicas que se muestran <strong>rubias</strong>
               <br>
               La gran mayoría <strong>no se muestra</strong> con pelo corporal
               
            </h2>
  
            <div class="columns">
                <div class="column is-one-half">
                  <h3>Color de pelo</h3>
                  <div id="color-pelo" class="chart-half"></div>
  
                </div>
                <div class="column">
                    <h3>Pelo corporal</h3>
                    <div id="pelo-corporal" class="chart-half"></div>
                  </div>
               
                
              </div>
  
          </div>
           
          </div>
    </section>
  </section>
  

  <section id="filtro-div">

      <section class="section">
          <div class="container">
            <div class="sub-section">
              <h1 class="title">Filtros y tipo de plano</h1>
                          <h2 class="subtitle">

                            Las fotos filtradas y sin filtrar <strong>conviven por igual</strong>
                            <br>
                            Hay preferencia por plano <strong>entero</strong>
                          </h2>

                          <div class="columns">
                              <div class="column is-one-half">
                                  <h3>Filtro</h3>

                                  <div id="filtro" class="chart-half"></div>

                              </div>
                              <div class="column">
                                  <h3>Plano</h3>

                                  <div id="planos" class="chart-half"></div>

                              </div>
                              
                            </div>

                            <h3>Tipos de plano según las imágenes con filtro</h3>

                          <div id="filtro-plano" class="chart-half"></div>
       

            </div>
           
              
          </div>

          
        </section>

  </section>
  <section id="poses-div">
      <section class="section">
          <div class="container">
            <div class="sub-section">
              <h1 class="title">Poses</h1>
                          <h2 class="subtitle">

                           Hay una tendencia a posar con los brazos <strong>marcando la cintura o estirados sobre el cuepro</strong>

                          </h2>

                          <h3>Brazos</h3>
                          <div id="brazos" class="chart-half"></div>

            </div>
            <div  class="sub-section">

                <h2 class="subtitle">

                    Gran parte de las chicas se muestran con una <strong> pierna estirada y otra flexionada</strong>
      
                  </h2>
                  <h3>
                    Piernas
                  </h3>
                <div id="piernas" class="chart-half"></div>


            </div>
                        
            <div class="sub-section">  
              
            <h2 class="subtitle">En general se muestran <strong>sonrientes</strong> y de frente</h2>

                <div class="columns">
                    <div class="column is-one-third">


                      <h3>Sonrisa</h3>
                        <div id="sonrisa" class="chart-half"></div>

                    </div>
                    <div class="column">
                      <h3>Mirada</h3>
                        <div id="mirada" class="chart-half"></div>

                    </div>
                    <div class="column">
                      <h3>Posicion</h3>
                        <div id="posci" class="chart-half"></div>

                    </div>

                  </div>

                         
            </div>
            
              
              
          </div>
        </section>
  </section>

