

<section class="section" id="home-results">
    <div class="container">
      <h1 class="title">Resultados</h1>
      <h2 class="subtitle">
       Y los resultados son... [Voz de Guido Cazca]
      </h2>
      <p>Instagram permite a los usuarios compartir contenido propio. Ahora bien, en el marco de la presente investigación, ¿Cómo es ese contenido? ¿Qué tendencias siguen? ¿Comparten fotografías similares al estereotipo de belleza? ¿Cómo deciden mostrar sus cuerpos?   </p>


      <p>*Todos los resultados correponden a mi muestra y bajo mi punto de vista</p>
    
    </div>
</section>


<section id="cuerpo">
    <section class="section">
        <div class="container">
          <h1 class="title">1. Cuerpo</h1>
          <h2 class="subtitle">
            1.a ¿Qué tipo de cuerpo predomina?
          </h2>
          <div id="tipo_de_cuerpo" class="chart-half"></div>
          <p>Según la <a target="_blank" href="http://www.msal.gob.ar/ent/images/stories/vigilancia/pdf/2015-11_enfr_cap7_peso-corporal.pdf">Tercera Encuesta Nacional de Factores de Riesgo</a> el el 25% de las mujeres entre 18 y 24 años tienen sobrepeso
            y el 7,7% de las mujeres entre 18 y 24 años tienen obesidad. <br><br>Según los resultados del estudio, únicmanete el 11% de las mujeres de fotografías analizadas se muestran con un cuerpo gordo, correspondiendo a la menos de la mitad del total. A su vez no aparece ninguna fotografía de una mujer obesa. Esto puede deberse a varios factores que implican el algoritmo de la red social que muestra primero a las mujeres que no cumplen con esas características, y a la clara tendencia de las chicas de compartise teniendo como espejo el ideal de belleza impuesto por los medios de comunicación.
         
            <br>
            <br>

           En cuanto a los extremos [muy delgada y obesa] se puede observar que quienes cuentan con ese tipo cuerpo eligen no mostrarse debido quizá a justamente que el <i>ideal</i> segrega los extremos de una manera similar. 

         
          </p>

          <h2 class="subtitle">
            1.b ¿Qué parte del cuerpo muestran más según el tipo de cuerpo?
          </h2>

          <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Cara</p>
                  <p class="title">95%</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Piernas</p>
                  <p class="title">36%</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Abdomen</p>
                  <p class="title">27%</p>
                </div>
              </div>
              
            </nav>

          <div id="cuerpopartes" class="chart-half"></div>

          <p>Quienes muestran su cuerpo delgado tienden preferir mostrar sus piernas y abdomen en  </p>

        </div>
      </section>
</section>

<section id="piel-div">
  <section>

      <div class="container">
          <h1 class="title">Piel</h1>
          <h2 class="subtitle">
            2.a ¿Qué color de piel predomina?
          </h2>

          <div class="columns">
              <div class="column is-one-third">
                <h3>2.a Color de piel</h3>
                <div id="color-piel" class="chart-half"></div>

              </div>
              <div class="column">
                  <h3>2.b Piel homogénea</h3>
                  <div id="piel" class="chart-half"></div>
                </div>
              <div class="column">
                  <h3>2.c Maquillaje</h3>
                  <div id="maquillaje" class="chart-half"></div>
                </div>
              
            </div>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe? Numquam minima soluta, quam dolorum dolore similique mollitia fugiat illo nostrum earum exercitationem aliquam? Neque sequi quo quos. Magnam, sit.</p>
            




        </div>
  </section>
</section>

<section id="pelo-div">
    <section>
  
        <div class="container">
            <h1 class="title">Pelo</h1>
            <h2 class="subtitle">
              Pelo pelo pelo pelo pelo
            </h2>
  
            <div class="columns">
                <div class="column is-one-half">
                  <h3>2.a Color de piel</h3>
                  <div id="color-pelo" class="chart-half"></div>
  
                </div>
                <div class="column">
                    <h3>2.b Piel homogénea</h3>
                    <div id="pelo-corporal" class="chart-half"></div>
                  </div>
               
                
              </div>
  
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe? Numquam minima soluta, quam dolorum dolore similique mollitia fugiat illo nostrum earum exercitationem aliquam? Neque sequi quo quos. Magnam, sit.</p>
              
  
  
  
  
          </div>
    </section>
  </section>
  

  <section id="poses-div">
      <section class="section">
          <div class="container">
            <h1 class="title">Poses</h1>
            <h2 class="subtitle">
              A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
            </h2>

          
            <div id="poses" class="chart-half"></div>

          </div>
        </section>
  </section>