<section class="hero is-primary is-medium has-navbar-fixed-top" id="home">
    <div class="hero-body">
      <div class="container">
          <h1 class="title">Likeadas</h1>
          <h2 class="subtitle">
           Descubrí cómo se muestran las jóvenes estudiantes de la Ciudad de Buenos Aires en Instagram
           
          </h2>
      
          <a class="button is-black">Ir a la visualización</a>
          <a class="button">Sobre el proyecto</a>
      
      
      </div>

      <span class="icon">
          <i class="fas fa-home"></i>
        </span>
    </div>
  </section>

  <section class="hero is-fullheight section" id="project">
      <div class="container ">
        <div class="columns">
            <div class="column is-two-thirds" >

              <h1 class="title">Likeadas</h1>
                <h2 class="subtitle"> Proyecto de investigación y categorización de las últimas cinco publicaciones de Instagram de 200 jóvenes estudiantes en la Ciudad de Buenos Aires. Identifica el modo de mostrarse, de posar, la forma de sus cuerpos. 
                </h2>
                <h3 class="subtitle is-5">El objetivo es comprender de qué manera influye el ideal de belleza impuesto por los medios masivos de comunicación, a la hora de generar su propio contenido. </h3>
                <h3 class="subtitle is-5">Para lograrlo se presenta:</h3>
              
                <ul class="subtitle is-5">
                  <li > <a>una visualización interactiva de los resultados de la categorización según el tipo de cuerpo, color y características de la piel.</a></li>
                  <li><a>un análisis de los resultados de la categorización.</a></li>
                </ul>
               
                
            </div>
    
            <figure class="image is-128x128 column">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
            
        </div>
       
     
        
          
          
      
      </div>
    </section>

    
  

    
    <section class="hero is-fullheight section" id="process">
        <div class="container ">
          <div class="columns">
              <div class="column is-full" >
                  <h1 class="title"> 
                    El proceso 
                  </h1>
                  <nav class="level">
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">200</p>
                          <p class="title">Usuarias</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Fotos</p>
                          <p class="title">500</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Categorías</p>
                          <p class="title">14</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Datos</p>
                          <p class="title">6683</p>
                        </div>
                      </div>
                    </nav>
                 
                  
              </div>
      
            
          </div>
         
       
          
            
            
        
        </div>
      </section>
  