<section class="hero is-primary is-medium" id="home">
    <div class="hero-body">
      <div class="container">
          <h1 class="title">Likeadas</h1>
          <h2 class="subtitle">
           Descubrí cómo se muestran las jóvenes estudiantes de la Ciudad de Buenos Aires en Instagram
           
          </h2>
      
          <a class="button is-black">Ir a la visualización</a>
          <a class="button">Sobre el proyecto</a>
      
      
      </div>

      <span class="icon">
          <i class="fas fa-home"></i>
        </span>
    </div>
  </section>

  <section class="section">
      <div class="container">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
    </section>