
<!--Home-->
<section id="inicio">
  <section class="hero is-primary is-fullheight has-navbar-fixed-top" id="home">
    <div class="hero-body">
      <div class="container">
          <h1 class="title">Likeadas</h1>
          <h2 class="subtitle">
           Descubrí cómo se muestran las jóvenes estudiantes de la Ciudad de Buenos Aires en Instagram
           
          </h2>
      
          <div class="columns is-mobile">

            <div class="column column is-three-fifths is-offset-3 ">
                 <a routerLinkActive="active-link" [routerLink]="['/visualization']" class="button is-black">Ir a la visualización</a>
                    <a class="navbar-item" fragment="proyecto" routerLinkActive="active-link"  class="button" [routerLink]="['/home']">Sobre el proyecto</a>
                    <a  class="button is-black" routerLinkActive="active-link" [routerLink]="['/project']" >Ver análisis y resultados </a>

                
            </div>

          </div>
         
          
      
      </div>

     
    </div>

</section>

</section>

<!--Proyecto-->

<section id="proyecto">
  <section  class="hero is-fullheight section" id="project">
    <div class="container ">
      <div class="columns">
          <div class="column column is-three-fifths is-offset-3" >

            <h1 class="title">Likeadas</h1>
              <h2 class="subtitle"> Proyecto de investigación y categorización de las últimas cinco publicaciones de Instagram de 200 jóvenes estudiantes en la Ciudad de Buenos Aires.  Identifica el modo de mostrarse, de posar, la forma de sus cuerpos. 
              </h2>
              <h3 class="subtitle is-5">El objetivo es comprender de qué manera influye <strong>el ideal de belleza impuesto por los medios masivos de comunicación</strong>, a la hora de generar su propio contenido. </h3>
              <h3 class="subtitle is-5">Para lograrlo se presenta:</h3>
            
              <ul class="subtitle is-5">
                <li><a>una visualización interactiva de los resultados de la categorización según el tipo de cuerpo, color y características de la piel.</a></li>
                <li><a>un análisis de los resultados de la categorización.</a></li>
              </ul>



            
              
          </div>
  
          <!--  <figure class="image column">
              <img src="../../assets/visualization-screen.png">
            </figure>
           -->
        
            
      </div>
     
      
      
        
        
    
    </div>
</section>
</section>



<!--Proceso
  <section id="proceso">
  <section class="hero is-fullheight section" id="process">
    <div class="container ">
      <div class="columns">
          <div class="column is-full" >
              <h1 class="title"> 
                El proceso 
              </h1>

              <h2 class="subtitle"> Los  para cumplir el objetivo
                </h2>
            
            
              <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                     <i class="fas fa-3x fa-book"></i>
                      <p class="heading">Investigacion</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <p class="title"><i class="fas fa-arrow-right"></i></p>
                      </div>
                    </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <i class="fas fa-3x fa-search"></i>
                      <p class="heading">Definición del corpus</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <p class="title"><i class="fas fa-arrow-right"></i></p>
                      </div>
                    </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <i class="fab fa-3x fa-python"></i>
                      <p class="heading">Obtención de datos</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <p class="title"><i class="fas fa-arrow-right"></i></p>
                      </div>
                    </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <i class="fas fa-3x fa-edit"></i>
                      <p class="heading">Analísis de datos</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <p class="title"><i class="fas fa-arrow-right"></i></p>
                      </div>
                    </div>
                  <div class="level-item has-text-centered">
                      <div>
                        <i class="fas fa-3x fa-poll"></i>
                        <p class="heading">Obtención de resultados</p>

                      </div>
                    </div>
                </nav>
             

          </div>
      </div>

      <div class="columns">
          <div class="column is-half is-offset-one-quarter">
              <iframe class="video" width="560" src="https://www.youtube.com/embed/TQes9iEThL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <div>

          </div>
      </div>
     
   
      
        
        
    
    </div>
</section>
</section>
-->


<!--Visualization
  <section id="visualizacion">
  <section class="hero is-fullheight section" id="visualization">
    <div class="container">
      <div class="columns">
          <div class="column is-two-thirds" >

            <h1 class="title">Visualizacion</h1>
              <h2 class="subtitle">  
                
              </h2> 
            
              <a  class="button is-black" routerLinkActive="active-link" [routerLink]="['/visualization']" >Descubrilo en la visualización </a>
          </div>
  
          <figure class="image is-128x128 column">
              <img src="../../assets/visualization-screen.png">
            </figure>
          
      </div>
     
   
      
        
        
    
    </div>
</section>
</section>
-->

<!--Resultados
<section id="resultados">
  <section class="hero is-fullheight section" id="results">
    <div class="container">
        <div class="columns">
            <div class="column is-full" >
                <h1 class="title"> 
                  Resultados
                </h1>
                <h2 class="subtitle">

                  Conclusiones del análisis

                </h2>

                <ul>
                                      
                    <li> El ideal de belleza se reproduce por el contenido generado por las propias mujeres</li>
                    <li> Hay una nueva respuesta al ideal clásico que se está transformando en un nuevo patrón de belleza donde se valora los cuerpos ‘normales’, el maquillaje invisible y la ausencia de filtros en las fotografías.</li>
                    <li>Las mujeres recurren a utilizar ciertas poses que las estilizan o ocultan partes del cuerpo</li>

                </ul>

                <a  class="button is-black" routerLinkActive="active-link" [routerLink]="['/project']" >Ver análisis y resultados </a>

              </div>
          </div>

        </div>
  </section>
</section>-->



    
  
    <!--Contacto-->
<section id="contacto">
   <section class="hero is-fullheight section" id="contact">

    <div class="container">
<div class="columns">
            <div class="column is-one-third is-offset-5">
                
              <div class="card-contact" >
                  <div class="card-content">
                    <h1 class="title"> 
                    Contacto 
                  </h1>
                    <figure style="height:300px; width:300px;">
                      <img src="../../assets/me.jpg" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                     
                      <div class="media-content">
                        <p class="title is-4">Gabriela Zifferman</p>
                        <p class="subtitle is-6">gabyzif.com | @gabyzif | gabyzif@gmail.com</p>
                        
                        
                      </div>
                    </div>
                
                    <div class="content">
                        Gabriela Zifferman, <br> Lic. en Tecnología multimedial en la Universidad Maimónides<br>
                      
                      <a class="icon is-large " target="_blank" href="http://www.instagram.com/gabyzif"><i class="fab fa-lg fa-instagram"></i></a>
                      <a class="icon is-large" target="_blank" href="http://www.behance.net/gabrielazifferman"><i class="fab  fa-lg fa-behance"></i></a>
                      <a class="icon is-large" target="_blank" href="mailto:gabyzif@gmail.com?Subject=TesisContact"><i class="fas fa-lg  fa-envelope"></i></a>
                      
                      

                    </div>
                  </div>
              </div>
          </div>

          <div>

          </div>
      </div>
    </div>
        
     
            
  </section>
</section>
 